.button {
   display: inline-flex;
   justify-content: center;
   padding: rem(15) rem(30);
   color: $color-secondary-3;
   background-color: $color-button;
   border-radius: rem(5);

   font-weight: 700;
   font-size: rem(16);
   line-height: 1.4;
   text-align: center;

   transition: all 0.3s ease 0s;
   &_fw {
      width: 100%;
      justify-content: center;
   }
   @media (any-hover: hover) {
      &:hover:not(:disabled) {
         background-color: $color-hover;
      }
   }
   &:disabled {
      background-color: $color-disabled;
   }
}

.button-icon {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: rem(40);
   height: rem(40);
   font-size: rem(16);
   color: $color-button;
   border-radius: 50%;
   border: rem(1) solid $color-button;
   background-color: $color-bg-main;
   overflow: hidden;
   transition: all 0.3s ease 0s;
   &::before {
      // font-weight: 700;
   }
   @media (any-hover: hover) {
      &:hover:not(:disabled) {
         color: $color-secondary-3;
         border-color: $color-hover;
         background-color: $color-hover;
      }
   }
   &_pressed {
      color: $color-secondary-3;
      border-color: $color-button;
      background-color: $color-button;
   }
   &:disabled {
      color: $color-disabled;
      border-color: $color-disabled;
   }
   &_fs64 {
      width: rem(53.33);
      height: rem(53.33);
      font-size: rem(63);
   }
}

.button-text {
   font-weight: 450;
   font-size: rem(16);
   line-height: 1.4;
   color: $color-button;
   border-bottom: rem(1) solid $color-button;
   transition: all 0.3s ease 0s;
   &:disabled {
      color: $color-disabled;
      border-color: $color-disabled;
   }
   @media (any-hover: hover) {
      &:hover:not(:disabled) {
         color: $color-hover;
         border-color: $color-hover;
      }
   }
}

.button-like {
   position: relative;
   align-items: center;
   width: rem(36);
   height: rem(36);
   background-color: $color-bg-main;
   border-radius: rem(20);
   font-size: rem(16);
   color: $color-button;
   &::before,
   &::after {
      @extend %ic;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease 0s;
   }
   &::before {
      content: "\e908";
   }
   &::after {
      content: "\e907";
      color: $color-favorite;
      visibility: hidden;
      opacity: 0;
   }
   @media (any-hover: hover) {
      &:hover::before {
         color: $color-favorite;
      }
   }
   &_pressed {
      &::before {
         opacity: 0;
         visibility: hidden;
      }
      &::after {
         opacity: 1;
         visibility: visible;
      }
   }
   &_big {
      font-size: rem(24.5);
   }
}
