.cart-card {
   max-width: rem(628);
   display: grid;
   grid-template-columns: rem(180) 1fr rem(16);
   grid-template-rows: repeat(3, min-content) 1fr;
   column-gap: rem(24);
   @media (max-width: $mobileSmall) {
      grid-template-columns: rem(90) 1fr rem(16);
      column-gap: rem(15);
   }
   // .cart-card__title
   &__title {
      min-height: rem(42);

      font-weight: 450;
      line-height: 1.4;
      color: $color-button;

      transition: all 0.3s ease 0s;

      @media (min-width: $mobileSmall) {
         min-height: auto;

         font-size: rem(16);
      }

      @media (any-hover: hover) {
         &:hover {
            color: $color-hover-second;
         }
      }

      &:not(:last-child) {
         margin-bottom: rem(20);
         @media (min-width: $mobileSmall) {
            margin-bottom: rem(35);
         }
      }
   }
   // .cart-card__stepper
   &__stepper {
      // grid-column: 2;
      justify-self: start;
   }
   // .cart-card__image-ibg
   &__image-ibg {
      // align-self: start;
      padding-top: percent(199, 180);
      @media (max-width: $mobileSmall) {
         padding-top: percent(173, 90);
      }

      grid-row: 1/5;
      @media (any-hover: hover) {
         &:hover {
            box-shadow: 0px 0px 15px rgba(177, 156, 140, 0.28);
            & + * {
               color: $color-hover-second;
            }
         }
      }
      &_hover {
         box-shadow: 0px 0px 15px rgba(177, 156, 140, 0.28);
      }
   }
   // .cart-card__prop
   &__prop {
      display: flex;
      align-items: center;
      margin: 0 rem(-15);
      @media (max-width: $mobileSmall) {
         margin: 0 rem(-9);
      }
      & > * {
         margin: 0 rem(15);
         @media (max-width: $mobileSmall) {
            margin: 0 rem(9);
         }
      }
   }
   // .cart-card__color
   &__color {
   }
   // .cart-card__size
   &__size {
      font-weight: 300;
      line-height: 1.4;
      color: $color-button;
   }
   // .cart-card__price-block
   &__price-block {
      @media (max-width: $mobileSmall) {
         .price {
            font-size: rem(15);
         }
         .price_old {
            font-size: rem(12);
         }
      }
   }
   // .cart-card__price-del
   &__del {
      grid-column: 3;
      grid-row: 1/5;

      align-self: start;
      justify-self: end;

      font-size: rem(16);
      color: $color-button;
      @media (any-hover: hover) {
         &:hover:not(:disabled) {
            color: $color-hover-second;
         }
      }
      &:active:not(:disabled) {
         color: $color-button;
      }
   }
   &__prop,
   &__stepper {
      &:not(:last-child) {
         margin-bottom: rem(15);
         @media (min-width: $mobileSmall) {
            margin-bottom: rem(30);
         }
      }
   }
}
