.color-list {
   display: flex;
   flex-wrap: wrap;
   margin: 0 rem(-7.5);
   & > * {
      margin: 0 rem(7.5);
   }

   @media (max-width: $mobileSmall) {
      margin: rem(-5) rem(-5);
      & > * {
         margin: rem(5) rem(5);
      }
   }
}
