.dropdown-btn {
   position: relative;
   z-index: 50;

   font-size: rem(16);
   color: $color-button;
   line-height: 1.4;
   // .dropdown-btn__button
   &__button {
      padding: 0 rem(25);
      background: $color-filters;
      border-radius: 4px;
      transition: all 0.3s ease 0s;

      font-weight: 450;

      @media (any-hover: hover) {
         .dropdown-btn:not(.dropdown-btn_open) &:hover {
            background-color: $color-filters-hover;
         }
      }
   }
   // .dropdown-btn__label
   &__label {
      position: relative;
      padding: rem(12) 0;
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      column-gap: rem(10);
      border-bottom: rem(1) solid transparent;
      border-top: rem(1) solid transparent;
      transition: all 0.3s ease 0s;
      &::after {
         content: "\e90c";
         @extend %ic;
         font-size: rem(6.5);
         transition: all 0.3s ease 0s;
      }
   }
   // .dropdown-btn__content
   &__content {
      // display: none;
      overflow: hidden;
      height: 0;
      position: absolute;
      top: 100%;
      left: 0;

      opacity: 0;
      visibility: hidden;

      background: $color-filters;
      border-radius: rem(4);
      border-top-left-radius: 0;

      font-weight: 300;
      font-size: rem(15);

      transition: all 0.3s ease 0s;

      padding: rem(22) rem(25);
      & > * {
         &:not(:last-child) {
            margin-bottom: rem(10);
         }
      }
   }
   // .dropdown-btn__option
   &__option {
      white-space: nowrap;
      &[data-selected] {
         color: $color-hover-second;
      }
      &_empty-value {
         font-style: italic;
      }
      @media (any-hover: hover) {
         &:hover {
            color: $color-hover-second;
         }
      }
   }
   // .dropdown-btn_open
   &_open {
      filter: drop-shadow(0px 0px 20px rgba(226, 212, 201, 0.3));
      .dropdown-btn__button {
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 0;
      }
      .dropdown-btn__label {
         border-bottom-color: $color-button;
         &::after {
            transform: scaleY(-1);
         }
      }
      .dropdown-btn__content {
         opacity: 1;
         visibility: visible;
      }
   }
   &_up {
      .dropdown-btn__label {
         border-top-color: $color-button;
         border-bottom-color: transparent;
      }
   }
   // .dropdown-btn_select
   &_select {
      .dropdown-btn__wrapper {
         & > * {
            display: block;
         }
      }
   }
}
