.images {
   // .images__container
   &__container {
      & > *:not(:last-child) {
         margin-bottom: rem(50);
      }
   }
   // .images__header-block
   &__header-block {
      display: flex;
      flex-wrap: wrap;
      margin: rem(-20) rem(-15);
      & > * {
         margin: rem(20) rem(15);
      }
   }
   // .images__header
   &__header {
      flex: 0 1 rem(340);
      @media (max-width: $mobileSmall) {
         text-align: center;
         flex-grow: 1;
      }
   }
   // .images__descr
   &__descr {
      flex: 1 1 rem(358);
      max-width: rem(516);
      padding: rem(5) 0 rem(5) rem(30);

      font-style: italic;
      font-weight: 300;
      font-size: rem(14);
      line-height: 1.4;
      color: $color-button;

      border-left: 1px solid $color-button;
   }
   // .images__tabs
   &__tabs {
   }
   // .images__slider-block
   &__slider-block {
   }
   // .images__slide
   &__slide {
   }
}
