.main-page {
   padding: rem(155) 0 rem(180);
   & > *:first-child {
      margin-top: rem(100);
      @media (max-width: $mobile) {
         margin-top: rem(60);
      }
   }
   & > *:not(:last-child) {
      margin-bottom: rem(180);
      @media (max-width: $mobile) {
         margin-bottom: rem(90);
      }
   }
   // .main-page__promo
   &__promo {
   }
   // .main-page__advantage
   &__advantage {
   }
   // .main-page__woman
   &__woman {
   }
   // .main-page__images
   &__images {
   }
   // .main-page__subscribe
   &__subscribe {
   }
}

@import "promo";
@import "advantage";
@import "woman";
@import "images";
@import "subscribe";
