.price {
   font-weight: 300;
   line-height: 1.4;
   color: $color-button;
   @media (max-width: $mobileSmall) {
      font-size: rem(14);
   }
   &::after {
      content: " руб.";
   }
   // .price_old
   &_old {
      text-decoration-line: line-through;
      font-size: rem(14);
      @media (max-width: $mobileSmall) {
         font-size: rem(12);
      }
   }
   // .price_new
   &_new {
      text-decoration: none;
      color: $color-discount;
   }
   &_bold {
      font-size: rem(16);
      font-weight: 450;
      @media (max-width: $mobileSmall) {
         font-size: rem(15);
      }
   }
   &_fs-20 {
      font-size: rem(20) !important;
   }
   &_fs-14 {
      font-size: rem(14) !important;
   }
}
