.range-slider {
   $height-slider: 20;
   padding: rem(math.div($height-slider, 2)) 0;
   position: relative;
   // height: rem(4);
   color: $color-button;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   touch-action: none;
   &__rail,
   &__track {
      height: rem(4);
      top: 50%;
      transform: translateY(-50%);
   }
   // .range-slider__rail
   &__rail {
      position: absolute;
      width: 100%;
      left: 0;
      background-color: $color-secondary-1;
      border-radius: rem(10);
   }
   // .range-slider__track
   &__track {
      position: absolute;
      width: 30%;
      left: 30%;

      background-color: currentColor;
   }
   &__thumb {
      touch-action: none;

      width: rem($height-slider);
      height: rem($height-slider);

      position: absolute;
      top: 50%;
      left: 0;

      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: currentColor;

      cursor: pointer;

      input {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         clip: rect(0 0 0 0);
      }
   }
   @media (any-hover: hover) {
      &:hover {
         color: $color-hover;
      }
   }
}
