.range-block {
   padding: rem(8) 0;
   // .range-block__slider
   &__slider {
      &:not(:last-child) {
         margin-bottom: rem(15);
      }
   }
   // .range-block__values
   &__values {
      display: flex;
      justify-content: space-between;
      margin: 0 rem(-10);

      font-weight: 300;
      .range-slider_active + & {
         font-weight: 450;
      }
   }
   // .range-block__value
   &__value {
      margin: 0 rem(10);

      line-height: 1.4;
      color: $color-button;
   }
}
