.size-list {
   display: flex;
   flex-wrap: wrap;
   margin: 0 rem(-8);
   & > * {
      margin: 0 rem(8);
   }
   @media (max-width: $mobileSmall) {
      margin: 0 rem(-4);
      & > * {
         margin: 0 rem(4);
      }
   }
}
