.subscribe {
   // .subscribe__composition
   &__composition {
      &:not(:last-child) {
         margin-bottom: rem(60);
      }
   }
   // .subscribe__container
   &__container {
      text-align: center;
   }
   // .subscribe__header
   &__header {
      opacity: 0;
      &:not(:last-child) {
         margin-bottom: rem(5);
      }
   }
   // .subscribe__descr
   &__descr {
      font-weight: 300;
      line-height: 1.4;
      text-align: center;
      color: $color-button;

      &:not(:last-child) {
         margin-bottom: rem(30);
         @media (max-width: em(590)) {
            margin-bottom: rem(25);
         }
      }
   }
   // .subscribe__email
   &__email {
      .icon-arrow-left {
         &::before {
            font-size: rem(8);
         }
         @media (max-width: $mobileSmall) {
            flex: 0 0 rem(48);
         }
      }
   }
   &__descr,
   &__email {
      max-width: rem(384);
      margin: 0 auto;
   }
   // .subscribe_animated
   &_animated {
      .subscribe__header {
         opacity: 1;
         transition: all 0.8s ease 2.2s;
      }
      // .composition_animated
      .composition {
         &::before {
            transform: translateZ(0);
            opacity: 1;
            transition: all 0.8s ease 0s;
         }
         &::after {
            opacity: 1;
            transition: all 0.8s ease 1.1s;
         }
         // .composition__second
         &__second {
            // .composition__second_right-top
            &_right-top {
               transform: translateZ(0);
               opacity: 1;

               transition: all 0.8s ease 0s;
            }
            // .composition__second_left-bottom
            &_left-bottom {
               opacity: 1;
               transition: all 0.8s ease 1.1s;
            }
         }
      }
   }
}
