.slide {
   &-prev,
   &-next {
      @extend %ic;
      color: $color-button;
      font-size: rem(31.3);
      transition: all 0.3s ease 0s;
      &:disabled {
         color: $color-disabled;
      }
      @media (any-hover: hover) {
         &:hover:not(:disabled) {
            color: $color-hover-second;
         }
      }
   }
   &-prev,
   &-next {
      &::before {
         display: block;
         border: rem(1) solid currentColor;
         border-radius: 50%;
      }
   }
   &-prev {
      &::before {
         content: "\e912";
         transform: rotate(-90deg);
      }
   }
   &-next {
      &::before {
         content: "\e912";
         transform: rotate(90deg);
      }
   }
}
