// Заголовки, общие БЄМ блоки и проче...
h1 {
   font-size: rem(50);
}
h2 {
   font-size: rem(40);
}
h3 {
   font-size: rem(35);
   line-height: 1.25;
}
h4 {
   font-size: rem(28);
}
h5 {
   font-size: rem(24);
   line-height: 1.5;
}
h6 {
   font-size: rem(20);
}

h1,
h2,
h4,
h6 {
   line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: $color-header;
   font-family: Vetrino;
}

@media (max-width: $mobile) {
   h1 {
      font-size: rem(27);
   }
   h2 {
      font-size: rem(22);
   }
   h3 {
      font-size: rem(20);
      line-height: 1.4;
   }
   h4 {
      font-size: rem(18);
      line-height: 1.35;
   }
}

input {
   background-color: transparent;
}

%vit {
   font-family: "Vetrino";
}

.title {
   &:not(:last-child) {
      margin-bottom: rem(60);
   }
   @media (max-width: $tablet) {
      text-align: center;
   }
   @media (max-width: $mobileSmall) {
      &:not(:last-child) {
         margin-bottom: rem(40);
      }
   }
}
