$color-bg-main: #f5f0ec;
$color-button: #524338;
$color-header: #473625;
$color-secondary-1: #cdbfb3;
$color-secondary-2: #c2aa97;
$color-secondary-2: #fff;
$color-hover: #675447;
$color-hover-second: #8e7562;
$color-bg-second: #f1e4d8;
$color-bg-card: #c2aa97cc;
$color-bg-card-hover: #c2aa97e6;
$color-filters: #f2e6dd;
$color-filters-hover: #edded3;
$color-error: #fe5c46;
$color-favorite: #f67f27;
$color-discount: #d92d16;
$color-disabled: #c2bdb8;
